:root {
    --bg-primary: #242424;
    --bg-secondary: rgba(255, 255, 255, 0.05);

    --accent-primary: #0288d1;

    --form-field-bg: rgba(255, 255, 255, 0.1);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.2);

    --btn-primary-bg: #0288d1;
    --btn-primary-bg-hover: #047cbd;
    --btn-primary-border: rgba(0, 0, 0, 0);

    --btn-danger-bg: #ff4444;
    --btn-danger-bg-hover: #ff4444;
    --btn-danger-border: #ff0000;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Roboto", "Lato", sans-serif;
    width: 300px;
    background: var(--bg-primary);
    color: white;
}

#app {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
    color: var(--accent-primary);
}

h3 {
    margin: 0 0 1em 0;
    color: white;
}

.card {
    padding: 2em;
    background: var(--bg-secondary);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    font-size: 1em;
    margin-right: 1em;
}

.form-group input {
    padding: 0.5em;
    border-radius: 4px;
    border: var(--form-field-border);
    background: var(--form-field-bg);
    color: white;
    font-size: 1em;
    width: 80px;
    text-align: center;
}

.form-group input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /* transition: border-color 0.25s, background-color 0.25s; */
    width: 100%;
    margin-top: 1em;
}

.primary-button {
    background-color: var(--btn-primary-bg);
    color: rgba(255, 255, 255, 0.87);
}

.primary-button:hover {
    border-color: var(--btn-primary-bg-hover);
}

.stop-button {
    background-color: var(--btn-danger-bg);
    color: white;
}

.stop-button:hover {
    background-color: var(--btn-danger-bg-hover);
    border-color: var(--btn-danger-border);
}

#palContainer {
    margin-top: 1em;
}

.pomodoroPal {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}